@if(userId) {

@if(!portfolio) {
<div>
    <h1>Portfolio not found</h1>
</div>
}
@else {
<div class="container">
    <div class="row">
        <div class="col-9">

            <h1>{{portfolio!.name}} {{portfolio!.private ? "(private)" : ""}}</h1>

        </div>

        @if (portfolio.userId === userId) {

        <div class="col-1">
            <a class="btn btn-success" routerLink="./buy">Buy</a>
        </div>

        <div class="col-1">
            <button class="btn btn-danger">Sell</button>
        </div>

        <div class="col-1">
            <button class="btn btn-info">Settings</button>
        </div>

        }

        
    </div>

    <div class="row">

        <div class="col-8">

            <h4>Performance</h4>

        </div>

        <div class="col-4">

            <h4>Holdings</h4>

            <ul>
                <li>Balance {{portfolio.balance.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}}</li>
            </ul>

        </div>


    </div>


</div>
}

}
