<div class="list-group-item">
    <a
        [routerLink]="['/stock', stockSearchData.symbol]"
        [state]="{stockSearchData: stockSearchData, portfolioToActUpon, action: true}"
    >
        {{stockSearchData.symbol}} - {{stockSearchData.shortname}}
    </a>


    @if (showForm) {

    <form [formGroup]="amountForm" (submit)="submit()">
        <div class="col-auto">
            <label for="amount-input" class="col-form-label">Amount</label>
        </div>
        <div class="col-auto">
            <input type="number" id="amount-input" class="form-control" formControlName="amount">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Confirm</button>
            <button class="btn btn-secondary" (click)="setShowForm(false)">Cancel</button>
        </div>
    </form>

    }
    @else {

    @if (buying === true) {

    <button class="btn btn-success" (click)="setShowForm(true)">Buy</button>

    }

    @else if (buying === false) {

    <button class="btn btn-danger" (click)="setShowForm(true)">Sell</button>

    }

    }
</div>

