@if(stockSearchData) {

<h1 class="text-center">{{stockSearchData.symbol}} - {{stockSearchData.longname}}</h1>

@if(acting && portfolioToActUpon) {
<div class="d-flex">
    <div class="mx-auto">
        <button class="btn btn-success" (click)="buyingForm = true">Buy</button>
        <button class="btn btn-danger" (click)="buyingForm = false">Sell</button>
    </div>
</div>
}

@if (buyingForm === true || buyingForm === false) {

<div class="d-flex">
    <div class="mx-auto">

    <form [formGroup]="actionForm" (submit)="submit()">
        <div class="col-auto">
            <label for="amount-input">How many shares to {{buyingForm ? "buy" : "sell"}}?</label>
        </div>
        <div class="col-auto">
            <input type="number" id="amount-input" class="form-control" formControlName="amount">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Confirm</button>
            <button class="btn btn-secondary" (click)="buyingForm = null">Cancel</button>
        </div>
    </form>
    </div>
</div>


}

<div class="container">
    <div class="row">

        <div class="col-6">
            @if (priceHistory !== null) {
            <app-graph [toGraph]="priceHistory" name="MyGraph"></app-graph>
            }
        </div>



        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Sector</th>
                        <td>{{stockSearchData.sector}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Industry</th>
                        <td>{{stockSearchData.industry}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Exchange</th>
                        <td>{{stockSearchData.exchDisp}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>


}
@else {
<h1>loading...</h1>
}
