@if(stockSearchData) {

<h1 class="text-center">{{stockSearchData.symbol}} - {{stockSearchData.longname}}</h1>
<p>details...</p>

<div class="container">
    <div class="row">

        <div class="col-6">
            <h3>graph...</h3>
        </div>

        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Sector</th>
                        <td>{{stockSearchData.sector}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Industry</th>
                        <td>{{stockSearchData.industry}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Exchange</th>
                        <td>{{stockSearchData.exchDisp}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


}
@else {
<h1>loading...</h1>
}
