<header className='mb-3'>
    <nav class="navbar navbar-collapse">
        <div class="row">
            <a class="navbar-brand" href="/">Portfolio Man</a>
            <ul class="navbar-nav">
                <div class="col">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </div>
                <div class="col">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Browse Portfolios</a>
                    </li>
                </div>

                <!-- Not Logged In -->
                <div class="col">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Sign Up</a>
                    </li>
                </div>
                <div class="col">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Log In</a>
                    </li>
                </div>

                <!-- Logged In -->
                <div class="col">
                    <li class="nav-item">
                        <a class="nav-link" href="/">My Portfolios</a>
                    </li>
                </div>
                <div class="col">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Log Out</a>
                    </li>
                </div>

            </ul>
        </div>
    </nav>
</header>
